{% extends 'base.html' %}
{% block content_head %}
    <div class="container bg-gray-900 min-w-full text-white">
        <div class="container pt-5 pl-5">
            <p class="font-bold text-5xl">SwitchSnap v1.1.0</p>
            <p class="font-bold text-2xl">Developed by Olaf Yang</p>
            <p class="font-semibold text-xl">Contacts:</p>
            <div class="flex flex-row pt-2">
                <a href="mailto:mail@olafyang.com" class="pr-3">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"></path>
                    </svg>
                </a>
                <a href="https://twitter.com/olafyxyz" class="pl-3">
                    <svg class="fill-current" width="2em" height="2em" viewBox="10 -1 10 25">
                        <g>
                            <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.048-2.578 9.3 9.3 0 0 1-2.958 1.13 4.66 4.66 0 0 0-7.938 4.25 13.229 13.229 0 0 1-9.602-4.868c-.4.69-.63 1.49-.63 2.342A4.66 4.66 0 0 0 3.96 9.824a4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568 4.692 4.692 0 0 1-2.104.08 4.661 4.661 0 0 0 4.352 3.234 9.348 9.348 0 0 1-5.786 1.995 9.5 9.5 0 0 1-1.112-.065 13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41z"></path>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="pt-5">
                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                        data-name="bmc-button" data-slug="switchsnap" data-color="#FF5F5F" data-emoji="" data-font="Cookie"
                        data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff"
                        data-coffee-color="#FFDD00"></script>
            </div>
        </div>


    </div>


{% endblock content_head %}
