<!DOCTYPE HTML>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JPCKW88MPS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-JPCKW88MPS');
    </script>
</head>
<title>SwitchSnap</title>
{% load static %}
<link type="text/css" href="{% static 'tailwind.css' %}" rel="stylesheet">
<script src="{% static 'tailwind.config.js' %}"></script>


<body class="flex flex-col min-h-screen min-w-full">
{% include 'nav.html' %}
<div class="flex flex-auto">
    {% block content_head %}
        base.html
    {% endblock content_head %}
</div>
{% include 'nav_bottom.html' %}
</body>

</html>