{% extends 'base.html' %}
{% block content_head %}

    <div class="min-w-full bg-gray-900">
        <div class="mr-3 ml-3 mt-3 flex justify-center">
            <img class="rounded-2xl" src='{{ img_link }}'>
        </div>
        <div class="flex justify-center" id="tweet" tweetID="{{ tweet_id }}"></div>
    </div>



    <script src="https://platform.twitter.com/widgets.js"></script>
    <script>

        window.onload = (function () {

            var tweet = document.getElementById("tweet");
            var id = tweet.getAttribute("tweetID");

            twttr.widgets.createTweet(
                id, tweet,
                {
                    conversation: 'none',    // or all
                    cards: 'visible',  // or visible
                    linkColor: '#cc0000', // default is blue
                    theme: 'light'    // or dark
                })

        });
    </script>

{% endblock content_head %}