{% extends 'base.html' %}
{% block content_head %}

    <div class="min-w-full bg-gray-900">
        <div class="flex flex-row pt-3 pb-3">
            <div class="mr-3 ml-3 max-w-4xl">
                <img class="rounded-2xl" src='{{ img_link }}'>
            </div>
                <div class="" id="tweet" tweetID="{{ tweet_id }}"></div>
        </div>
    </div>



    <script sync src="https://platform.twitter.com/widgets.js"></script>
    <script>

        window.onload = (function () {

            var tweet = document.getElementById("tweet");
            var id = tweet.getAttribute("tweetID");

            twttr.widgets.createTweet(
                id, tweet,
                {
                    conversation: 'none',    // or all
                    cards: 'visible',  // or visible
                    linkColor: '#cc0000', // default is blue
                    theme: 'light'    // or dark
                })

        });

    </script>

{% endblock content_head %}