{% extends 'base.html' %}

{% block content_head %}
{#    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">#}

    <div class="pt-10"></div>

    <div class="container max-w-5xl mx-auto bg-red-500 rounded-2xl pt-6 pb-6 divide-y divide-white">
        <div class="flex justify-center pb-6">
            <p class="text-white text-3xl font-bold">SwitchSnap is shutting down on 31th of January 2021</p>
        </div>

        <div class="text-white text-xl text-center font-semibold pt-3 pb-3">
            <p>SwitchSnap shutting down on 31th of January 2021 and all data is to be deleted.</p>
            <p>If you wish to obtain a copy of your user data. Please contact me via <a class="underline" href="mailto:mail@olafyang.com">email</a> or twitter (@olafyxyz)</p>
        </div>

        <div class="pl-2 pt-2 flex text-left pt-6 font-semibold text-white grid">
            <p>
                With Nintendo releasing <a class="underline" href="https://www.theverge.com/2020/11/30/21754584/nintendo-switch-update-11-screenshot-video-sharing-phone-pc">a new update</a> in November of 2020.
                Transfer between switch and mobile devices was made significantly easier.
            </p>

            <p class="pt-2">
                Switch has historically been lacking proper online services. One of the reason I created SwitchSnap is to allow easy transfer of screenshots.
                Although Nintendo is still not offering a "screenshot cloud" I have in vision. This is the first step towards a online infrastructure that's expected in 2021.
            </p>

            <p class="pt-2">
                The current model (using twitter) of SwitchSnap is significantly outshined by the official solution and not up to the vision I had in mind.
                It is clear that SwitchSnap can not compete under current circumstances. That's not to say that SwitchSnap won't return in the future with a better service model.
            </p>

            <P class="pt-2">
                Developing SwitchSnap have taught me invaluable knowledge and experience. I am extremely thankful for every user of SwitchSnap for giving me and SwitchSnap a chance.
            </P>

            <p class="pt-2">Olaf Yang, Developer</p>
        </div>

    </div>
{% endblock content_head %}